<html>
    <%- include('./partials/head.ejs') %>
<body>
    <form>
    <div class="pupa">
        <div class="f">
        
     <%- include('./partials/nav.ejs') %>
    <div class="cond"> Кондитерская "Гуливер" </div>
    <div class="glavnaya">
    <img src="./image/index.png"> </div>
    
    <div class="obl"> 
        <img src="./image/obl.png"> </div>
    <p id="text">Главная заслуга производства нашей компании - использование только натуральных
        ингредиентов, а также строгое соответствие рецептуре. Для компании данные принципы являются
        условием обеспечения конкурентоспособности производимой продукции.</p>
        
        <footer class="footer">
            <div class="footerContainer">
                <p class="copyright">© Guliver 2021</p>
            </div>
        </footer>
    </div>
    </div>
</div>
</form>
</body>


</html>
