<html>
    <%- include('./partials/head.ejs') %>
<body>
    <form>
    <div class="pupa">
        <div class="f">
            <footer class="footer">
                <div class="footerContainer">
                    <p class="copyright">© Guliver 2021</p>
                </div>
            </footer>
            <%- include('./partials/nav.ejs') %>
    <div class="cond"> Кондитерская "Гуливер" </div>

    <div class="tlog"> Логин (mail) </div>
    <div class="tpas"> Пароль </div>

    <input type="text" class="inplog">
    <input type="password" class="inppas">
    <button onclick="alert('УПС')" class="logbut"> ВОЙТИ  </button>


    

    </div>
    </div>
</div>
</form>
</body>


</html>
