<html>
    <%- include('./partials/head.ejs') %>
<body>
    <form id="post-form" method="post" action="/otz">
    
    <div class="pupa">
        <div class="f">
            <%- include('./partials/nav.ejs') %>
        <div class="cond"> Кондитерская "Гуливер" </div>

    <div class="text1"> Оставьте свой отзыв, помогите нам стать лучше </div>
        <label>
    <div class="inp"> <img src="./image/inp.png"> </a></div> <!-- инпут отзыва --->
    <input type="text" class="inpotz" name="text">
        </label>   
    <button onclick="alert('Спасибо за отзыв!')" class="otpbutn"> ОТПРАВИТЬ </button>
       


    <footer class="footer">
                <div class="footerContainer">
                    <p class="copyright">© Guliver 2021</p>
                </div>
            </footer>

    </div>
    </div>
</div>
</form>
</body>


</html>
