<div class="men1"> <a href="/">Главная</a></div>
     <div class="men2"> Каталог</div>
     <div class="men3"> <a href="otz">Отзывы</a></div>
     <div class="men4"> <a href="posts">Новости</a></div>
    <div class="icon"> <a href="login"><img src="./image/log.png"></a> </div>

    <div class="cake"> <a href="/"><img src="./image/cak.png"></a> </div>